input[name="tours_type"][type="radio"] {
	display: inline;
	opacity: 1;
}
.w-100 {
	width: 100%;
}

.mb-20.breadcrumb-wrapper{
	margin-bottom: 0 !important;
	margin-top: 100px;
}

.tour_detail_page_slider-item {
  height: 250px !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.tours_list_filter-sort {
  font-size: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color:  grey;
  background: transparent;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
  padding-top: 5px;
  transition-duration: 1s;
  border-radius: 5px;
}

.tours_list_filter-sort:hover {
  background: #EB5019;
  color: white;
  transition-duration: 1s;
  border-radius: 10px;
}